 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 150px; /* ukuran foto profil */
    height: 150px; /* ukuran foto profil */
    border-radius: 50%; /* membuat gambar menjadi bulat */
    margin-bottom: 20px; /* spasi antara foto profil dan tombol */
}

.button {
    display: flex;
    align-items: center;
    border: none;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.button img {
    width: 50px; /* ukuran 1:1 */
    height: 50px; /* ukuran 1:1 */
    margin-right: 10px; /* spasi antara gambar dan teks */
}

.button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
